 #carousel1 {
    
    width: 400px;
    height: 300px; 
    position: relative;
    top: center;
    left: center ;
  }
  
  .carousel1-inner img {
  
   width: 100%; 
   height: 100%; 
   object-fit: cover; 
  }
  .logo{
    margin-top: 75px;
    display: flex;
    z-index: 1 ;
    height: 125px;
    width: auto;
  }
  body{
    background-image: url("../images/gta_decors2_2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
