body{
  height: 200vh
}
.hautDePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url("../images/gta_decors_5.png" );
  background-repeat: no-repeat;
  background-size:100%;
  z-index: 1;
  
}
.navbar{
  height: 90px;
}
.logo{
  margin-top: 75px;
  display: flex;
  z-index: 1 ;
  height: 125px;
  width: auto;
}
.carousel{
  height : 20vh;
  
  }

#carouselTextHome{
  margin: auto;
  height : 60 vh;
}
.description {
  height : 60 vh;
  transform: translateY(80px);
}
h1{
    font-size: 51px;
}
.basDePage{
 
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image:url("../images/gta_decors2_2.png" ); 
  
  justify-content: center;
  /* background-image: url("../images/gta_decors_5.png" );
  transform: rotate(180deg) scaleX(-1); */
  background-repeat: no-repeat;
  background-size: 100%;
  
  
}
/* .reverse-text{
  transform: rotate(180deg) scaleX(-1);
} */
.home {

    width: 60%;
    color:rgb(4, 5, 5);
 margin-top: 40%;
    
   
    /* padding-top : 5%; */
    /* background-image: url('../images/acc2.png');
    background-size: 50%; */
    /* z-index : +1; */
  }


  .titre {


    color: rgb(10, 10, 10);
    text-align: center;
    
  }
  p {
    

    padding: 0 2em;
    font-size: large;
    text-align: center;

  }

/* .encadrement{
    top: auto;

    border-bottom: 2px solid black;
    padding-bottom: 10px;
} */
/* .fond {
  margin-bottom: 0%;
  height:100vh;
  background-image: url('../images/gta_decors_5.png');
  transform: rotate(180deg) scaleX(-1);
} */
.formcom{

    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px

}
#commentaires {
  height: 100vh;
  margin-top: 20vh;
 
}

.commentaire{
  position :relative;
  margin-top: 10%;
  width: 30%;
  border: 2px solid gray;
  background: gainsboro;
  opacity: 0.7;
  margin: 0 15% 0 5% ;
  height: 100px;
}


.logo{
  display: flex;
  position: relative;
  z-index: 1 ;
  height: 125px;
  width: auto;
  
}
#commentaires-liste  {
  margin-top: 10%;
  display: flex;
  border: 2px solid gray;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 20px;
}
h2{
  font-size: 12px;
}
#commentaires-liste .commentaire:nth-child(even) {
 margin-top: 100px;
 
 border-radius: 29px 29px 29px 0

}

#commentaires-liste .commentaire:nth-child(odd) {
  border-radius: 29px 29px 0 29px;
 

}

/* #commentaire-formulaire {*/
  /* Styles pour le formulaire de commentaire 
  width: 50%;

} */

.mathieu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.note{
  color: rgb(255, 0, 247);
}
.contenu{
  color:black;
}




.table-responsive-xl {
  position: absolute;
  bottom: -120%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail.expanded {
  transform: scale(1.2);
}
